<html>

<head>
    <title>FriendsMeet</title>
    <meta name="author" content="Andrea Gualandris">

    <link href="../../css/style.css" rel="stylesheet" />

    <style type="text/css">
        /* @import url("../../css/style.css"); */
        @import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Rock+Salt&display=swap');
    </style>

    <script src="../../socket.io/socket.io.js"></script>
    <script src="../../js/ajax.js"></script>
    <script src="../../ejs.min.js"></script>
    <script src="../../js/views.js"></script>
    <link rel="icon" href="../../img/favicon.ico" />

</head>



<body class="bodyContainer" onload="my_fetch()">

    <header class="header">
        <h1 id="title">FriendsMeet</h1>

    </header>

  
