
<main class="mainContent">

    <section class="home">
        <article class="menu" id="page_create"><a href="/events/create">Create new event</a></article>
        <article class="menu" id="page_search" ><a href="/events/search">Search event</a></article>

        <article class="menu" id="page_featured"><a href="/events">Featured</a></article>
        <article class="menu" id="page_myevents"><a href="/myevents">My events</a></article>

    </section>

</main>

