


<main class="mainContent">

    <br><br>
    <form enctype="multipart/form-data" class="forms" action="/login" method="POST">
        <label class="labelSL" for="nickname">Nickname</label>
        <input type="text" id="nickname" name="nickname" placeholder="Nickname" required><br><br>

        <label class="labelSL" for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Password" required><br><br>

        <br><br><br>


        <input id="suButton" class="btn41-43 btn-42" type="submit" value="Login">
    </form>



</main>
