


<main class="mainContent">


    <form enctype="multipart/form-data" class="forms" action="/signup" method="POST">

        <label for="nickname">Nickname</label>
        <input type="text" id="nickname" name="nickname" placeholder="Nickname" required><br><br>

        <label for="name">Name</label>
        <input type="text" id="name" name="name" placeholder="Name" required><br><br>

        <label for="surname">Surname</label>
        <input type="text" id="surname" name="surname" placeholder="Surname" required><br><br>

        <label for="age">Age</label>
        <input type="number" id="age" name="age" placeholder="Age" min="12" required><br><br>

        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Password" required><br><br>


        <br><br><br>


        <input id="suButton" class="btn41-43 btn-42" type="submit" value="Sign Up" placeholder="Sign Up" >
    </form>



</main>
